<ion-header>        
    <ion-navbar>
        <ion-title>Groups</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="background">
    
    <ion-card>
        <ion-card-header>
          
          <img class="cp-logo-large" src="./assets/img/cp.png" alt="">
          
          Groups
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              Group 1
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>
