<ion-header>        
    <ion-navbar>
        <ion-title>Groups</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="background">
  <ion-list>
    <ion-item *ngFor = "let g of groups">
      <ion-thumbnail item-start>
        <img src='{{g.thumbnail}}'>
      </ion-thumbnail>
      <h2>{{g.name}}</h2>
      <p>{{g.description}}</p>
      <button ion-button clear icon-only item-end (click)="groupActions(g._id)">
        <ion-icon name='more' ></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
