<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <!-- <ion-avatar start>
        <img src="{{group?.thumbnail}}">
      </ion-avatar>{{group?.name}} -->
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="group.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>More about this group</ion-label>
      <ion-input type="text" [(ngModel)]="group.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" ([ngModel)]="group.name"></ion-input>
    </ion-item> -->
  </ion-list>

</ion-content>
