
<ion-content class="background">
    
    <ion-card>
        <ion-card-header>
          
          <img class="cp-logo-large" src="./assets/img/cp.png" alt="">
          
          Sign in
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-input type="text" [(ngModel)]="loginModel.userName" placeholder="Mobile Number" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="loginModel.secret" placeholder="Pin"></ion-input>
            </ion-item>
            <button ion-button outline (click)="doLogin()" >Log in</button>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <button ion-button clear full (click)="signUp()" >Do not have account? Join now</button>
</ion-content>
