login_page {
    .background {
        background-image: url(../assets/img/people_faces.png);
    }
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .card{
        box-shadow: none;
        background: rgba(0,0,0,0.5%);
        border-radius: 5px;
    }
    .card-header {
        color:#fff;
        text-align: centerl
    }
    .item{
        margin-bottom: 10px;
        background: rgba(255,255,255,0.5%);
        border: medium none;
        
        .text-input {
            color:white;
            border-radius: 5px;
        }
        input::-moz-placeholder{
            color:white
        }
        input:-moz-placeholder{
            color:white
        }
        *::-webkit-input-placeholder{
            color:white
        }
        *:-ms-input-placeholder{
            color:white
        }
        *:-moz-placeholder{
            color:white
        }
    }
}
